grant Codebase "http://10.10.2.229/titular.jar"{
    permission java.security.AllPermission;
};

grant{
    permission java.net.SocketPermission
    "*:1024-65535",
    "connect,accept,resolve";
};